.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.jumbotron{
  background-color: royalblue;
  text-align: center;
}
.sidebar{
  height:100%;
  position:absolute;
  float: left;
  background-color: skyblue;
  width:18%%;
  margin-left: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
}
.functional-part{
  float: right;
  width: 55%;
}
body{
  background-color: teal;
  color:white;
}
#input-number{
  color: black;
}
